<h2>{{action}}</h2>
<form role="form" name="form" class="form-horizontal" >
    <div class="form-group  has-feedback" ng-class="{'has-error':form.Todo.$invalid && !form.Todo.$pristine}">
        <label class="col-sm-2 control-label" for="Todo">Todo</label>
        <div class="col-sm-10 ">
            <input type="text" class="form-control" ng-model="item.Todo" id="Todo" name="Todo" required />
            <span ng-show="form.Todo.$invalid && !form.Todo.$pristine" class="help-block">Todo为必填项。</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':form.Priority.$invalid && !form.Priority.$pristine}">
        <label class="col-sm-2 control-label" for="Priority">Priority</label>
        <div class="col-sm-10 ">
            <input type="number" class="form-control" ng-model="item.Priority" id="Priority" name="Priority" />
            <span ng-show="form.Priority.$invalid && !form.Priority.$pristine" class="help-block">Priority只能填写数字。</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':form.DueDate.$invalid}">
        <label class="col-sm-2 control-label" for="DueDate">DueDate</label>
        <div class="col-sm-10 ">
            <input type="datetime" class="form-control" ng-model="item.DueDate" id="DueDate" name="DueDate" />
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" ng-click="save()">
            <!--ng-disabled="form.$invalid"-->
            {{action}}
        </button>
        <a href="#/" class="btn btn-default">Cancel</a>
    </div>
</form>
