<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    
    <connectionStrings>
      <add xdt:Transform="SetAttributes"
           xdt:Locator="Match(name)"
           name="DefaultConnection"
           connectionString="Server=c5671506-a539-47d2-b40f-a41a0090e09d.sqlserver.sequelizer.com;Database=dbc5671506a53947d2b40fa41a0090e09d;User ID=qoiblyusmuiatijp;Password=pdJSGUEBHqVWKHQnBPCrouAprFSn3roFwQcBG6g3d2Bkkag5hhFgXew3KuzabrGq;"/>
    </connectionStrings>
</configuration>