<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    
    <connectionStrings>
      <add xdt:Transform="SetAttributes"
           xdt:Locator="Match(name)"
           name="DefaultConnection"
           connectionString="Server=24e9d51c-d451-4f71-b155-a41a0061e702.sqlserver.sequelizer.com;Database=db24e9d51cd4514f71b155a41a0061e702;User ID=gqjdfujdkckgwslj;Password=jMmzgURKKduGk8usjvcnDXW4rKG6oikAy8R3ncfB5TCjBY6zUgeEQnYuXrhDmTvB;"/>
    </connectionStrings>

</configuration>